@font-face {
    font-family: 'Jost';
    src: url(./fonts/Jost-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Jost';
    src: url(./fonts/Jost-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Jost';
    src: url(./fonts/Jost-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    margin: 0;
    background-color: rgb(244, 244, 244);
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

aside h1 {
    font-family: "Jost";
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
}
h1 a {
    text-decoration: none;
    color: inherit;
}
h1 a:hover {
    color: rgb(170, 127, 46);
    transition: color 0.3s ease;
}

main {
    display: flex;
}

aside {
    width: 25%;
    padding-top: 10px;
    padding-right: 20px;
    margin-bottom: 50px;
    padding-left: 2%;
}

aside ul {
    padding-left: 0;
    list-style: none;
    padding-bottom: 40px;
}

aside ul li{
    margin-bottom: 7px;
}

aside a {
    font-family: "Jost";
    font-weight: 500;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
aside a:hover {
    color: rgb(170, 127, 46);
    transition: color 0.3s ease;
}
section {
    width: 50%;
    padding-top: 10px;
    padding-right: 0px;
}

section h2{
    font-family: "Jost";
    font-weight: 400;
}
section h2 a {
    text-decoration: none;
    color: inherit;
}


.img_text {
    width: 140%;
    height: 100%;
    display: flex
}

.img_text a {
    width: 100%;
    height: 100%;
    display: inline-block; 
    text-decoration: none; 
}
.img_text img {
    width: 95%;
    height: 95%;
    margin-bottom: 20px;
}

.img_text p{
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    font-family: "Jost";
    font-weight: 450;
    margin-left: 15px;
    font-size: 20px;
}


.works p{
    width: 130%;
    padding-top: 0px;
    margin-top: 0px;
    font-family: "Jost";
    font-weight: 450;
    font-size: 20px;
}

